<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conta Macaquitos</title>
    <style>
        h2 span {
            color: #EB007D
        }
    </style>
</head>

<body>
    <h1>Conta Macaquitos!!</h1>
    <h2>Se o seu nome é <span>{{nome}}</span>, você merece:</h2>
    <h2><span>{{chars}}</span> Macaquitos!!!!</h2>
    <h1>
        {{ monkeys }}
    </h1>
</body>

</html>